import numpy
from PyDAQmx import *
import AnalogOutputTask 
import numpy as np
task = AnalogOutputTask()
task.create_voltage_channel('Dev1/ao2', min_val=-5.0, max_val=5)
task.configure_timing_sample_clock(rate = 100)
task.write(data, auto_start=False)
task.start()
raw_input('Generating voltage continuously. Press Enter to interrupt..')
task.stop()
del task

